{% extends "layout.html" %}
{% block main %}
    <main class="main animate__fadeIn">
        <section>
            {% for board in boards %}
            <h1>{{ board.question }}</h1>
            {% endfor %}

            <form class="form" method="post" action="{{url_for('main.board', board_number=board_number)}}">
            {{ form.hidden_tag() }}
            {{ form.entry_input(class="form_textarea",
                                placeholder="Your answer...") }}
            {{ form.post(class="primary form_submit") }}
            </form>
        </section>
        <section>
            <h1>Recent updates</h1>
            {% for entry in entries %}
                {% if entry.board_id == board_number %}
                <article class="entry">
                    <header>
                        <div class="profile-picture">
                            <a href="{{ url_for('main.progress', author=entry.user_name) }}">
                                <div class="profile-picture-initials">{{ entry.first_name_initial | capitalize }}{{ entry.second_name_initial | capitalize }}</div>
                            </a>
                        </div>
                        <time class="entry_date" datetime="{{ entry.date }}">{{ entry.formatted_date }}</time>
                        <p class="entry_author">
                            <strong>{{ entry.user_name }}</strong>
                        </p>
                    </header>
                        <p class="entry_content">
                            {{ entry.content }}
                        </p>
                </article>
                {% endif %}
            {% endfor %}
        </section>
    </main>
{% endblock %}