{% extends "layout.html" %}
{% block main %}
    <main class="main">
        <section class="posting-area">
            
            <h1>{{ board.question }}</h1>

            <header>

            <div class="section">
                <div>
    
                    <form class="form-inline" hx-post="/boards/{{board_number}}" hx-swap="afterbegin" hx-target="#newName">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            
                            {{ form.entry_input(class="form_textarea form-control text-editor",
                                            placeholder="Your answer...",
                                            ) }}
                            {{ form.create(class="primary form_submit text-editor-btn") }}
                        </div>
                        
                    </form>
        </section>
        

        <!-- Start of HTMX -->
                
              <div>
                
                  <div>
                    <section>
                        <h1>Recent updates</h1>
                    </section>
                    <div id="newName"></div>
                    
                      {% for entry in entries %}
                      <article class="entry">
                        <header>
                            <div class="profile-picture">
                                <a href="{{ url_for('main.progress', author=entry.user_name, board_number=board_number) }}">
                                    <div class="profile-picture-initials">{{ entry.first_name_initial | capitalize }}{{ entry.second_name_initial | capitalize }}</div>
                                </a>
                            </div>
    
                           
                            <div class="entry-options-container">
                                <svg class="entry-options" viewBox="0 0 24 24" width= '50%' height= 'auto'>
                                    <g>
                                        <circle cx="5" cy="12" r="2" />
                                        <circle cx="12" cy="12" r="2" />
                                        <circle cx="19" cy="12" r="2" />
                                    </g>
                                </svg> 
                                <div class="dropdown-content">
                                    
                                    <form action="{{ url_for('main.deleteEntry', entry_id=entry._id) }}" method="post">
                                        <input class="pointer" type="submit" value="Delete"/>
                                    </form>
                                </div>
                            </div>
                            
    
                            <time class="entry_date" datetime="{{ date }}">{{ entry.formatted_date }}</time>
                            
                            <p class="entry_author">{{ entry.user_name }}</p>
                        </header>
                        
                        <pre class="entry_content">{{entry.content|safe}}</pre>
                      </article>
                      
                      
                      {% endfor %}
                      
                  </div>
              </div>
            </div>
            <div>
              
            </div>
        </div>
    </main>
    <script src="{{url_for('static', filename='boards.js')}}"></script>
    <script src="{{url_for('static', filename='htmx.min.js')}}"></script>
{% endblock %}