{% extends "layout.html" %}
{% block main %}
    <main class="main">
        <section>
            <h1>Hi {{ user_information["name"] | capitalize }},
                what did you work on today?
            </h1>

            <form class="form" method="post" action="{{url_for('main.home')}}">
            {{ form.hidden_tag() }}
            {{ form.entry_input(class="form_textarea",
                                placeholder="Your answer...") }}
            {{ form.post(class="form_submit") }}
            </form>

        </section>
        <section>
            <h1>Recent updates</h1>
            
            {% for entry in entries %}
                <article class="entry">
                    <header>
                        <img class="profile_picture" src="{{ url_for('static', filename='default.png')}}">
                        <time class="entry_date" datetime="{{ entry.date }}">{{ entry.formatted_date }}</time>
                        <p class="entry_author">
                            <a href="{{ url_for('main.progress', author=entry.user_name) }}">
                            <strong>{{ entry.user_name }}</strong>
                            </a>
                        </p>
                    </header>
                        <p class="entry_content">
                            {{ entry.content }}
                        </p>
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}