{% extends "layout.html" %}
{% block main %}
    <main class="main">
        <div class="mb15">
            <div id="create-btn">
            <span class="purple">&#43;</span>
            <span>Create</span>
            </div>
            <ul class="nav-dropdown">
                <li id="board-add" class="nav-dropdown-create">Create Board</li>
                <li id="space-add" class="nav-dropdown-create">Create Workspace</li>
            </ul>
        </div>

        <div id="new-board-modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h1 class="modal-header">Create new board</h1>
                <form class="modal-form" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.question.label }}
                    {{ form.question(placeholder="What did you work on today?") }}
                    {{ form.space.label }}
                    {{ form.space(class="mb15") }}
                    {{ form.create(class="primary button") }}
                </form>
            </div>
        </div>

        <div id="new-space-modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h1 class="modal-header">Create new space</h1>
                <form class="modal-form" method="POST">
                    {{ new_space_form.hidden_tag() }}
                    {{ new_space_form.name.label }}
                    {{ new_space_form.name(placeholder="Team name") }}
                    {{ new_space_form.create(class="primary button") }}
                </form>
            </div>
        </div>
            
        {% for space in spaces %}
      
        <section class="mb15">
            <div class="workspace-header">
                <h2>{{ space.name }}</h2>
                <div><a href="{{ url_for('main.space_settings', space_id=space._id) }}">Settings</a></div>
            </div>
            
            {% for board in boards %}
                {% if user_id in space.members and board.space_id == space._id %}
                        <div class="board-page-item mb15">
                            <a class="primary-link" href="{{ url_for('main.board', board_number=board._id) }}">
                                <h3>{{ board.question }}</h3>
                            </a>
                        </div>
            </section>
            {% endif %}
            {% endfor %}
        {% endfor %}

    </main>
    <script src="{{url_for('static', filename='main.js')}}"></script>
{% endblock %}