{% extends "layout.html" %}
{% block main %}
    <main class="main">
        <section>
            <h1>{{ author | title }}'s activity</h1>
        </section>
        <section>
            <h1>Recent updates</h1>
            {% for entry in entries %}
                {% if entry.user_name == author %}
                <article class="entry">
                    <header>
                        <div class="profile-picture">
                            <a href="{{ url_for('main.progress', author=entry.user_name) }}">
                                <div class="profile-picture-initials">{{ entry.first_name_initial | capitalize }}{{ entry.second_name_initial | capitalize }}</div>
                            </a>
                        </div>
                        <time class="entry_date" datetime="{{ entry.date }}">{{ entry.formatted_date }}</time>
                        <p class="entry_author">{{ entry.user_name }}</p>
                    </header>
                        <pre class="entry_content">{{ entry.content }}</pre>
                </article>
                {% endif %}
            {% endfor %}
        </section>
    </main>
{% endblock %}