{% extends "layout.html" %}
{% block main %}
    <main class="main">
        <section>
            <h2 class="section">Account Settings</h2>

            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}

            <div class="form-group-container">
                <form class="settings-form" method="POST">
                    {{ change_name.hidden_tag() }}
                    {{ change_name.name.label }}
                    {{ change_name.name(id="name-field", value=user_information["name"], placeholder="Name", disabled=True) }}
                    <button class="form-btn" id="edit-name-button" type="button">Edit</button>
                    <button class="form-btn" id="cancel-name-button" type="button">Cancel</button>
                    {{ change_name.save(class="form-btn", id="save-name-button") }}
                </form>

                <form class="settings-form" method="POST">
                    {{ change_email.hidden_tag() }}
                    {{ change_email.email_address.label }}
                    {{ change_email.email_address(id="email-field", value=email, placeholder="Email address", disabled=True) }}
                    <button class="form-btn" id="edit-email-button" type="button">Edit</button>
                    <button class="form-btn" id="cancel-email-button" type="button">Cancel</button>
                    {{ change_email.save(class="form-btn", id="save-email-button") }}
                </form>

                <form class="settings-form">
                    {{ change_password.hidden_tag() }}
                    {{ change_password.password_field.label }}
                    {{ change_password.password_field(id="password-field", placeholder="••••••••", type="text", disabled=True) }}
                    <button class="form-btn" id="edit-password-button" type="button">Change</button>
                </form>
            </div>

            <div id="password-modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <form method="POST">
                        {{ change_password_real.hidden_tag() }}
                        {{ change_password_real.old_password.label }}
                        {{ change_password_real.old_password(placeholder="Old password") }}
                        {{ change_password_real.new_password.label }}
                        {{ change_password_real.new_password(placeholder="New password") }}
                        
                        {{ change_password_real.save(class="form-btn") }}
                    </form>
                </div>
            </div>

        <h2 class="section">Delete account</h2>

        <div class="form-group-container">
            <form class="settings-form" method="post">
                {{ delete_user_button.hidden_tag() }}
                {{ delete_user_button.something(placeholder="Confirm email address") }}
                {{ delete_user_button.delete_account(class="form-btn") }}
            </form>
        </div>

        </section>

    </main>
    <script src="{{url_for('static', filename='settings.js')}}"></script>
{% endblock %}