*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar {
  max-width: 720px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

.navbar_navigation {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: #838383;
}

.navbar_navigation_item {
  margin-left: 20px;
}

.navbar_link {
  text-decoration: none;
  color: inherit;
}

.main {
  max-width: 720px;
  margin: 50px auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form_textarea {
  font-size: 18px;
  padding: 12px 25px;
  background-color: #faf8f7;
  border-radius: 8px;
  border: none;
  width: 100%;
  margin-bottom: 10px;
}

.form_submit {
  background-color: lightpink;
  border-radius: 8px;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
  cursor: pointer;
}

.form_submit:hover {
  background-color: mediumslateblue;
}

.entry {
  margin-top: 25px;
  background-color: #faf8f7;
  border-radius: 8px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.entry_date {
  font-size: 13px;
  color: #545454;
  align-self: flex-end;
}

.entry_content {
  font-size: 19px;
  line-height: 150%;
}
