*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  background: transparent;
}

body {
  color: #283c46;
}

::selection {
  background-color: #a1ddec93;
}

h1 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: #838383;
}


.primary-link, .primary-link:visited {
  color: #A1DDEC;
}


/* TODO: Create wrapper for the app and remove this.  */

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

label {
  display: block;
  font-weight: 700;
  font-size: 14px;
}

.form-group-container {
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
}

input {
  padding: 15px 17px;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  outline: none;
  border: 1px solid transparent;
  font-size: 16px;
}

.block input {
  display: block;
}

.mb15 {
  margin-bottom: 15px;
}

.mb15 input {
  margin-bottom: 15px;
  width: 100%;
}

.mb50 {
  margin-bottom: 50px;
}

.settings-field {
  padding: 10px 0px;
  background-color: transparent;
}

textarea,
input {
  font-family: "Open Sans", sans-serif;
}

input:disabled {
  background-color: transparent;
  color: inherit;
}

h2.section {
  margin: 0 0 15px;
}

.primary {
  background-color: #A1DDEC;
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.form-btn {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  position: relative;
  font-weight: 700;
  text-align: center;
  background-color: #e8e8e8;
  color: #828282;
  font-size: 14px;
}

form.settings-form {
  margin: 10px;
}

#save-name-button,
#cancel-name-button,
#save-email-button,
#cancel-email-button {
  visibility: hidden;
  margin-right: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.19); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  border: none;
  width: 600px;
  animation: zoomIn;
  animation-duration: 1s;
}

.close {
  float: right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  position: fixed;
  width: 100%;
  height: max-content;
  background-color: white;
  top: 0;
  z-index: 2;
}

.navbar_logo {
  font-size: 20px;
}

.navbar_navigation {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: #838383;
}

.navbar_navigation_item {
  font-size: 16px;
  padding: 8px 8px;
}

.navbar_navigation_item:hover {
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

.navbar_link {
  text-decoration: none;
  color: inherit;
}

.main {
  flex-basis: 800px;
  margin: 50px auto;
  margin-left: 380px;
  margin-top: 80px;
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form_textarea {
  height: 100px;
  font-size: 18px;
  padding: 20px 25px;
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 1);
  border-radius: 8px;
  border: none;
  width: 100%;
  margin-bottom: 10px;
  transition: background-color 0.25s ease 0s;
}

.form_submit {
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  padding: 10px 30px;
  font-weight: 700;
  cursor: pointer;
}

.primary:hover {
  opacity: 80%;
}

*::placeholder {
  color: rgb(152 152 152);
}

.posting-area {
  margin-bottom: 0px;
}

.entry {
  padding: 30px 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}

.entry_author {
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 700;
}

.entry_date {
  font-size: 13px;
  color: #545454;
  align-self: flex-end;
  position: absolute;
  right: 2.6rem;
  top: 2.3rem;
}

.entry-options-container {
  position: absolute;
  right: 0.5rem;
  top: 2rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
  transition: ease-in 0.1s;
}

.entry-options-container:hover {
  background-color: #c196d82a;
}

.entry-options {
  color: rgb(91, 112, 131);
  pointer-events: none;
}

.entry_content {
  font-size: 18px;
  line-height: 150%;
  font-family: "Open Sans", sans-serif;
  white-space: pre-wrap;
  color: #3f3c3c;
}

.profile_picture {
  position: absolute;
  top: 1.75em;
  left: -2rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  text-align: center;
}

.big-text {
  font-size: 42px;
}

.profile-picture {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  z-index: 0;
  position: absolute;
  display: block;
  background-color: #f4e0ff;
  top: 1.75em;
  left: -2rem;
}

.profile-picture-initials {
  font-size: 22px;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  color: #c196d8;
  font-weight: 500;
}

.add-box {
  background-color: #f9f9ff;
  border-radius: 8px;
  text-align: center;
  line-height: 100px;
  width: 200px;
  height: 100px;
  cursor: pointer;
  color: #c196d8;
  font-weight: 700;
  transition: background-color 0.8s ease 0.1s;
}

.add-box:hover {
  background-color: #f4e0ff;
}

.navbar_navigation_item {
  transition: background-color 0.25s ease 0.05s;
}

.board-page-item {
  background-color: #F5FDFC;
  padding: 20px 22px;
  border-radius: 8px;
  transition: background-color 0.8s ease 0.1s;
}

.board-page-item:hover {
  opacity: 80%;
}

.modal-form {
  padding: 10px 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-form > input {
  margin-bottom: 15px;
}

.modal-header {
  padding: 0px 15px;
}

.button {
  display: block;
  padding: 10px 25px;
  align-self: flex-end;
}

#question {
  width: 100%;
}

.dropdown-content {
  visibility: hidden;
}

.window {
  position: absolute;
  width: 50px;
  height: 150px;
  background-color: red;
}

.pointer {
  cursor: pointer;
}

#create-btn {
  color: #838383;
  display: inline-block;
  cursor: pointer;
}

.nav-dropdown {
  margin-top: 10px;
  display: none;
  list-style: none;
  position: absolute;
  width: 220px;
  padding: 15px;
  border-radius: 8px;
  color: #838383;
  background-color: #ffffff;
  box-shadow: 0px 10px 50px rgb(0 0 0 / 10%);
}

.nav-dropdown-create {
  display: flex;
  padding: 8px 8px;
  margin-bottom: 16px;
  cursor: pointer;
}

.nav-dropdown-create:hover {
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  transition: background-color 0.25s ease 0.05s;
}

.js-is-hidden {
  display: none !important;
}

.purple {
  color: #c196d8;
}

.workspace-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.workspace-header div {
  color: #838383;
}

.wrapper {
  display: flex;
}

.vertical-nav {
  display: flex;
  border-right: 1px solid #ebebeb;
  position: fixed;
  height: 100%;
  width: 300px;
  padding: 20px;
  z-index: 3;
  flex-direction: column;
  justify-content: space-between;
}

textarea:focus, input:focus{
  outline: none;
}

.vertical-nav-items {
  position: absolute;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.nav-title {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.text-editor {
  background-color: white;
  border: 1px solid #dcdcdc;
  height: 150px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.text-editor-btn {
  background-color: #A1DDEC;
  color: #000000;
  font-weight: 400;
  border-radius: 6px;
  width: fit-content;
  padding: 8px 20px;
  align-self: flex-end;
  position: relative;
  bottom: 55px;
  right: 10px;
}

.text-editor-btn:hover {
  opacity: 0.5;
}

.workspace-selector {
  flex-direction: column;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  padding: 15px 20px;
  width: 250px;
}

.workspace-selector small {
  font-size: 12px;
}

.landing {
  background-color: #F5FDFC;
  color: #021411;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.nav-landing {
  display: flex;
  justify-content: space-between;
}

.nav-landing ul {
  list-style: none;
  display: flex;
  column-gap: 20px;
  font-weight: 500;
}

.headline {
  font-size: 40px;
  padding: 80px 0px 10px;
  font-weight: 800;
}

.landing-header {
  display: flex;
  column-gap: 90px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.landing-header div:first-child {
  max-width: 1000px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.landing-screnshot {
  border-radius: 8px;
}

.landing-screnshot img {
  width: 500px;
  border-radius: 8px;
  box-shadow: 0px 5px 5px #e3e3e3;
}

.landing-cta {
  background-color: #A1DDEC;
}

.headline-sub {
  color: gray;
  font-size: 18px;
}

.landing-screnshot img:nth-of-type(1) {
  filter: blur(1px);
  position: relative;
}

.landing-screnshot img:nth-of-type(2) {
  position: relative;
  right: 50px;
  top: -40px;
}

.feature-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.feature-grid div {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
}

.feature-grid p {
  color: gray;
  margin-top: 10px;
}

.dropdown-icon {
  max-width: 20px;
}

.workspace-container {
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.25s ease 0.05s;
  padding: 4px 10px;
  text-overflow:ellipsis;
}

.workspace-container:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.dropdown {
  background-color: #ffffff;
  width: 270px;
  border-radius: 8px;
  color: #838383;
  box-shadow: 0px 10px 50px rgb(0 0 0 / 10%);
  flex-direction: column;
  border-radius: 8px;
  padding: 10px 10px;
  position: absolute;
  top: 80px;
  left: 0px;
}

.dropdown small {
  font-size: 12px;
}