{% extends "layout.html" %}
{% block main %}
    <main class="main">
        <section>
            <h1>Hi {{ session.username | capitalize }},
                what did you work on today?
            </h1>

            <form class="form" method="post" action="{{url_for('main.home')}}">
            {{ form.hidden_tag() }}
            {{ form.entry_input(class="form_textarea",
                                placeholder="Your answer...") }}
            {{ form.post(class="form_submit") }}
            </form>

        </section>
        <section>
            <h1>Recent updates</h1>
            
            {% for entry in entries %}
                <article class="entry">
                        <time class="entry_date" datetime="{{ entry[1] }}">{{ entry[2] }}</time>
                        <p class="entry_author">
                            <a href="{{ url_for('main.progress', author=entry[3]) }}">
                            <strong>{{ entry[3] }}</strong>
                            </a>
                        </p>
                        <p class="entry_content">
                            {{ entry[0] }}
                        </p>
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}