{% extends "layout.html" %}
{% block main %}
    <main class="main">
        <section>
            <h1>Hi {{ session.username }}, what did you work on today?</h1>
            <form class="form" method="POST">
                <p class="form_input">
                    <textarea name="content" id="entry" class="form_textarea" aria-label="entry contents" placeholder="Your answer..."></textarea>
                </p>
                <button type="submit" class="form_submit">Submit</button>
            </form>
        </section>
        <section>
            <h1>Recent updates</h1>
            
            {% for entry in entries %}
                <article class="entry">
                        <time class="entry_date" datetime="{{ entry[1] }}">{{ entry[2] }}</time>
                        <p class="entry_author">
                            <a href="{{ url_for('progress', author=entry[3]) }}">
                            {{ entry[3] }}
                            </a>
                        </p>
                        <p class="entry_content">
                            {{ entry[0] }}
                        </p>
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}