{% extends "layout.html" %}
{% block main %}
    <main class="main">
        <section>
            <h1>{{ author | capitalize }}'s activity</h1>
        </section>
        <section>
            <h1>Recent updates</h1>
            {% for entry in entries %}
                {% if entry[4] == author %}
                <article class="entry">
                    <header>
                        <img class="profile_picture" src="{{ url_for('static', filename='default.png')}}">
                        <time class="entry_date" datetime="{{ entry[1] }}">{{ entry[2] }}</time>
                        <p class="entry_author">
                            <strong>{{ entry[4] }}</strong>
                        </p>
                    </header>
                        <p class="entry_content">
                            {{ entry[0] }}
                        </p>
                </article>
                {% endif %}
            {% endfor %}
        </section>
    </main>
{% endblock %}