{% extends "layout.html" %}
{% block main %}
    <main class="main">
        <section>
            <h1>{{ author }}'s activity</h1>
        </section>
        <section>
            <h1>Recent updates</h1>
            {% for entry in entries %}
                {% if entry[3] == author %}
                <article class="entry">
                        <time class="entry_date" datetime="{{ entry[1] }}">{{ entry[2] }}</time>
                        <p class="entry_author">
                            {{ entry[3] }}
                        </p>
                        <p class="entry_content">
                            {{ entry[0] }}
                        </p>
                </article>
                {% endif %}
            {% endfor %}
        </section>
    </main>
{% endblock %}