{% extends "layout.html" %}
{% block main %}
    <main class="main">
        <section>
            <h1>Settings</h1>
        </section>
        
        <section>
            
            <form method="post">
                {{ form.hidden_tag() }}
                
                {{ form.name.label }}
                {{ form.name(value=user_information["name"], placeholder="Name") }}

                {{ form.email_address.label }}
                {{ form.email_address(value=user_information["email"], placeholder="Email address") }}

                {{ form.save() }}
            </form>

            <!-- TODO: Add a warning, an alert and let the user confirm -->
            <form method="post">
                {{ delete_user_button.hidden_tag() }}
                {{ delete_user_button.delete_account() }}
            </form>

        </section>

    </main>
{% endblock %}